# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env

venv/
.venv/
env.bak/
venv.bak/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.db
docker-compose.override.yml
docker-compose.local.yml

# Secrets
*.env
!env/sample.env

# Test
*.coverage
.pytest_cache/
htmlcov/
coverage.xml
test-results/
